/*PALETA DE CORES*/
:root {
  --cor1: rgba(255, 255, 255, 0.842);
  --cor2: #839788;
  --cor3: #5b507a;
  --cor4: #5b618a;
}

body{
    background-color: var(--cor2);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;}
/* Estilização do Texto */
h1{
    margin: -8px;
    background-color: black;
    text-align: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: var(--cor1);
    font-style:italic}

#main{
    text-align: justify;
    font-weight: bold;
    font-size: 27px;}

/* Estilização da Tabela */
    table{ 
    border: 4px solid black;
    background-color: var(--cor3);
    border-collapse: collapse;}
td, th { 
    font-weight: bolder;
    font-style: oblique;
    border: 3px solid black;
    padding: 10px;}
th{background-color: var(--cor4);}

/* Estilização da Lista */
li{padding: 10px;}
/* Estilização da Imagem */
img{border-radius: 15px;}

/* Estilização do Link */
#jisho{
    color: var(--cor3);
    text-decoration: none;}
    #jisho:hover {
  color: var(--cor4);}
  button{
    cursor: pointer;
    border: 1px solid black;
    outline: none; 
    font-weight: bold;
    background-color:var(--cor4);}

/* Rodapé */
#rodape {
    margin: -8px;
    background-color: black;
    text-align: center;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: var(--cor1);
    font-style:italic}
.rodapelink{
    color: var(--cor3);
    text-decoration: none;}